# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [10]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [11]:
boston.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [12]:
newyork.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [13]:
philadelphia.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [55]:
# Clean your data here!

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [14]:
# Combine the four dataframes into one!
df = pd.concat([baltimore, boston, newyork, philadelphia])
df = df.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Storage", "Crop", "Trans Mode"], axis=1)
df

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Condition,Appearance,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,NaN,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,NaN,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,NaN,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,SHELLACKED,NaN,NaN,N
53,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,SHELLACKED,NaN,NaN,N
54,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,SHELLACKED,NaN,NaN,N
55,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,SHELLACKED,NaN,NaN,N
56,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,SHELLACKED,NaN,NaN,N

In [22]:
#df.fillna(0, inplace=True)
#df

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [24]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
unit_of_sales_means = df.groupby(["City Name", "Unit of Sale"]).agg({"Low Price": "mean", "High Price": "mean"})
unit_of_sales_means

                            Low Price  High Price
City Name    Unit of Sale
BALTIMORE    0             111.457364  118.337209
             EACH           47.916667   59.166667
BOSTON       0             156.503268  180.986928
             PER BIN       205.000000  228.804348
NEW YORK     0              94.632184  102.310345
             PER BIN       150.600000  165.800000
PHILADELPHIA 0             117.782609  124.369565
             SHELLACKED     16.000000   17.545455

In [23]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
avg_num_pumpkins = df.groupby(["City Name", "Variety"]).agg({"Low Price": "mean", "High Price": "mean"})
avg_num_pumpkins

                                        Low Price  High Price
City Name    Variety
BALTIMORE    0                         270.000000  280.000000
             BIG MACK TYPE              47.916667   59.166667
             CINDERELLA                175.840000  185.120000
             FAIRYTALE                 225.625000  238.750000
             HOWDEN TYPE               137.600000  149.200000
             HOWDEN WHITE TYPE         170.000000  180.000000
             MINIATURE                  16.066667   16.666667
             MIXED HEIRLOOM VARIETIES  213.333333  240.000000
             PIE TYPE                   35.769231   36.442308
BOSTON       BIG MACK TYPE             200.689655  224.827586
             BLUE TYPE                 260.000000  285.000000
             CINDERELLA                260.000000  285.000000
             FAIRYTALE                 178.333333  195.333333
             HOWDEN TYPE               163.257576  195.984848
             KNUCKLE HEAD              260.000000  285.000000
             MINIATURE                  15.000000   18.000000
             PIE TYPE                  162.324561  183.605263
NEW YORK     BIG MACK TYPE              75.000000   80.000000
             HOWDEN TYPE               143.717949  159.102564
             KNUCKLE HEAD              120.000000  140.000000
             MINIATURE                  18.296296   19.259259
             MIXED HEIRLOOM VARIETIES  200.000000  200.000000
             PIE TYPE                  129.261905  138.595238
PHILADELPHIA HOWDEN TYPE               130.000000  138.035714
             KNUCKLE HEAD              210.000000  210.000000
             MINIATURE                  16.166667   17.583333
             PIE TYPE                   96.875000  101.750000

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!